name: Node.js CI/CD with Docker

on:  
  workflow_dispatch: {}
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  

      - name: Build Docker image
        run: |
          docker build -t edujourney-image:latest .

      - name: Stop and remove existing container
        run: |
          docker stop edujourney-container || true
          docker rm edujourney-container || true 

      - name: Restart services
        run: |
          docker-compose up -d --force-recreate